/* Styly Galerie Feed ------------------ */

.b-gal-feed {
    padding: 20px;
}

.b-gal-feed .b-gal-w {
    width: 100%;
    padding: 0;
    margin: 0;
}

.b-gal-feed .b-gal-item {
    width: calc(100% / 2 - 1rem);
    margin: 0.5rem;
    border-radius: 5px;
}

@media (min-width: 700px) {
    .b-gal-feed .b-gal-item {
        width: calc(100% / 3 - 1rem);
        /*margin: 0.5rem;*/
    }
}

@media (min-width: 1200px) {
    .b-gal-feed .b-gal-item {
        width: calc(100% / 4 - 1rem);
        /*margin: 0.5rem;*/
    }
}

.b-gal-feed picture {
    position: relative !important;
}

.b-gal-feed .b-gal-item img {
    border-radius: 5px;
}